body {
    font-family: OCR A Std, monospace;
}


.navbar-default {
    border: none;
    background-image: -webkit-gradient(linear, left top, left bottom, from(orange), to(white));
    background-image: -webkit-linear-graorange, white);
    background-image: -moz-linear-graorange, white);
    background-image: linear-gradient(orange, white);
}


.footer {
    background-color: #F0595C;
}


.panel-primary>.panel-heading {
    color: #ffffff;
    background-color: orange;
    border-color: orange;
}


.panel-primary {
    border-color: orange;
}


.body {
    font-family: OCR A Std, monospace;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333333;
    background-color: white;
}


.uk-link, a {
    color:#F0595C;
    text-decoration: none;
    cursor: pointer;
}


/*-----------
Community / Panels / 
-------------*/
.card {
    height: 150px;
}


.resources {
    border-color: orange;

}


.panel-default>.title {
    text-align: center;
    color: #F0595C;
    border-color: orange
}


.levitate {
    border: 1px solid #ffd966;
    border-color: orange;
    border-style: solid;
    border-width: small;
    
}


.mapitymap {
    height:235px;
   
}


.comments {
    background-color: orange;
    opacity: .9;
    clear: both;
    overflow: auto;
    padding-top: 20px;
}


.form-control {
    display: block;
    width: 100%;
    height: 40px;
    padding: 8px 12px;
    font-size: 16px;
    line-height: 1.42857143;
    color:#F0595C;
    background-color: #ffffff;
    background-image: none;
    border: 1px solid: #ffd966;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px orange;
    box-shadow: inset 0 1px 1px orange;
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

    .panel-heading {
    background-image: -webkit-gradient(linear, left top, left bottom, from(orange), to(white));
    background-image: -webkit-linear-graorange, white);
    background-image: -moz-linear-graorange, white);
    background-image: linear-gradient(orange, white);
 }

    .uk-h1, .uk-h2, .uk-h3, .uk-h4, .uk-h5, .uk-h6, h1, h2, h3, h4, h5, h6 {
    margin: 0 0 20px 0;
    font-family: OCR A Std, monospace;
    font-weight: 400;
    color:#F0595C;
    text-transform: none;
}

   

.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background: none;
    border: none;
    outline: none;
    color: #F0595C;
    
}


.fa-eye, .fa-trash {
    font-size: 18px;
}


.list-group-item {
    position: relative;
    display: block;
    padding: 10px 15px;
    margin-bottom: -1px;
    background-color: #ffffff;
    border: none;
}

.uk-link, a {
    touch-action: manipulation;
    text-decoration: none;
    cursor: pointer;
    background-color: transparent;
    text-transform: none;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

::selection {
    background: transparent;
    color: #fff;
    text-shadow: none;
    color: transparent;
}


.img-circle {
    width: 150px;
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 3px solid #ffd966;
}


.jumbotron {
    background-color: white;
    border: 2px solid orange;
}

li {
    display: inline-block;
    padding-right: 10px;
    text-align: center;
}


.Jumboshit {
    list-style: none;
    float:left;
    display: inline-block;
    text-align: center;
}

.well {
     display: inline-block;
     text-align: center;
     float: left;
     width: 30%;
     border-color: orange;
     border-style: solid;
     border-width: small;
     background: white;

}

footer {
    background: #F0595C;
    width: 100%;
    bottom: 0;
    clear: both;
}

